/ = render 'admin/drawer'
/ .cont
/   h1 Admin_edit_form
/   .edit_admin 
/     = form_with model: @admin, url: {adtion: :update}, local: true do |f|
/       .edit_admin_name
/         = f.text_field :name, placeholder: "Name"
/       .edit_admin_email
/         = f.text_field :email, placeholder: "Email"
/       .edit_admin_submit
/         = f.submit '更新する'
/         
